
.company-add-button {
    text-align: right;
    button {
      border-color: #4DA5CB;
      background-color: #4DA5CB;
      cursor: pointer;
  
      &:hover,
      &:active {
        background-color: #007EB4;
        border-color: #007EB4;
      }
    }
}

.student-detail-container_add{
  border-color: #4DA5CB;
  background-color: #4DA5CB;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: #007EB4;
    border-color: #007EB4;
  }
}

.student-detail-container_add {
  i {
    font-size: 1.8rem;
  }
}

.job-description {
  white-space: nowrap;
  max-height: 100px;
  overflow: hidden;
  max-width: 75ch;
  text-overflow: ellipsis;
}
